@import "tailwindcss";

@theme {
  --color-fly-dark: #0a0f1a;
  --color-fly-cyan: #22d3ee;
  --color-fly-orange: #f97316;
  --color-fly-glow: #d1fae5;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 15, 26;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

/* El efecto de luz blanquiazul que pediste */
@keyframes click-glow {
  0% {
    box-shadow: 0 0 0px 0px rgba(34, 211, 238, 0);
  }

  50% {
    box-shadow: 0 0 30px 15px rgba(209, 250, 225, 0.6);
  }

  100% {
    box-shadow: 0 0 0px 0px rgba(34, 211, 238, 0);
  }
}

.tap-glow:active {
  animation: click-glow 0.4s ease-out;
}